client
server
mmorpg.db
avatars/
mmorpg.db-shm
mmorpg.db-wal
servers.txt
config.txt
configs.txt
profiles.txt
telemetryGL.txt
telemetryOS.txt
telemetryGL_raw.txt
telemetryOS_raw.txt
windows_release
game_client.exe
# Android
android/.gradle/
android/build/
android/app/build/
android/.idea/
android/*.iml
test.zip
# Theos
.theos/
packages/
*.deb
obj/